SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

DATABASE_URL=jdbc:postgresql://SEU_HOST_SUPABASE:6543/postgres
DATABASE_USERNAME=postgres.xxxxxxxxxxxxx
DATABASE_PASSWORD=sua_senha_aqui

JWT_SECRET=coloque_uma_chave_base64_segura_aqui
JWT_EXPIRATION=86400000

FRONTEND_URL=http://localhost:3000